﻿
@{
    ViewBag.Title = "Test0513";
}

<h2>Test0513</h2>

    @ViewData["student name"]
@{ 
    string[] fruits = { "蘋果", "香蕉", "荔枝", "鳳梨", "西瓜" };
    <ol>
    @foreach (var item in fruits)
    {
        <li>
        @item
        </li>
    }
    </ol>
    <p>
    @ViewBag.mycontry
    </p>
}